
body{
	background-color:#2e4482;
	text-align: center;
	padding:0;
	margin:0

}

.top{
	padding-top: 230px;
	position: relative;

}


.cloud {
      position: absolute;
      right: 600px;
      top: 105px;
}

.cloud2 {
	position: absolute;
       left: 500px;
       top: 300px

}

.top h1{
	margin-top: 0;
	font-family: 'Knewave', cursive;
	letter-spacing: 2px;
	font-size: 4.5rem;
	color:#66BFBF;
	font-weight: normal;
}


 p{
	font-family: 'Kaushan Script', cursive;
	letter-spacing: 2px;
	font-weight:bold;
	font-size: 1.2em
}


.mountain{
	width: 900px

}


h2{
	font-family: 'Knewave', cursive;
	color: #66BFBF
}

h3{
	font-family: 'Knewave', cursive;
	color:#11999E;
	font-size: 1.5em
}
hr{
border-style:dotted none none;
	border-width: 7px;
	width: 5%;
	margin-top:100px ;
	margin-bottom: 100px
}

a{
	color:#11999E;
}

.skill-row{
	width: 50%;
	margin:200px auto 200px auto;

}

.skill-row .spiritwolf{
	float: left;
	width: 30%;

}

.skill-row .sleep{
	width: 350px;
	float: right;

}

.lastskillrow{
margin-top: 300px
}

.name{
	font-size: 1.5em;
}

.profile{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.bottom-container{
	background-color: #66BFBF;
	margin-top: 100px;
	padding-top: 100px;
	height: 200px;
}

a{
	text-decoration: none;
	padding: 50px;
	margin-top: 100px;
	font-family: 'Knewave', cursive;
	color: black;


}

.btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #000000;
font-family: 'Knewave', cursive;
   font-size: 16px;
   font-weight: 100;
   padding: 14px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.contact-me{
	text-align: center;
}

.bottom-container p{
padding-top: 40px

}

.end-message{
	width: 30%;
	margin:60px auto auto;
}
